* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/trout-953012_1920.jpg");
    background-repeat: no-repeat;
}
 

.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/bg-2.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.navbar
{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/bg-2.jpg);
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
    
}

a
{
    text-decoration: none;
    color: rgb(84, 223, 107);
    font-size: 40px;
}


.form-box{
    width: 380px;    
    height: 400px;
    position:relative;
    margin: 2% auto;
    background-color: rgb(0, 0, 0,.3);
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
    
}

.button-box{
    width: 250px;
    margin: 35px auto;
    
    position: relative;
    box-shadow: 0 0 20px 9px #24ff2f1f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 140px;
    height: 100%;
    background: rgb(84, 223, 107);
    border-radius: 30px;
    transition: .5s;
}

.input-group-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group-register{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 50px;
    background: rgb(84, 223, 107);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login{
    left: 50px; 
}

#login input{

    color:white;
    font-size: 15;
}

#register{
    left: 450px;
}

#register input{
    color: white;
    font-size: 15;
}

/* PARTIE inscription OK */

.inscripOK{
    margin: 0 auto;
    padding: 20px;
    width: 800px;
    
    font-size: 40px;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(50%);
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/bg-2.jpg);
    border-radius: 10px;
}
.inscripOK p{
    text-align: center;
}


